.TodoItem-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
  }

.TodoItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

.TodoItem-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 80px;
    height: 30px;
    font-size: 15px;
}