h1{
  text-align: center;
  color: #333;
}

input[type="text"] {
  width: 30%; 
  padding: 10px; 
  border: 1px solid #dddddd; 
  border-radius: 20px; 
}

form{
  display: flex;
  justify-content: center;
  text-align: center;
}

