#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.input-login{
  background-color: #e8e8e8;
  color: black
}

button {
  padding: 10px 20px;
  background-color: #ff9500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ce7800;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #565656;
  border-radius: 5px;
  color: rgb(255, 183, 0);
}

h1 {
  color: #333;
  text-align: center;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

form input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input:focus {
  outline: none;
  border-color: #c3c3c3;
}